<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- TODO: Cập nhật Server cho đúng môi trường của bạn -->
    <add name="DefaultConnection" connectionString="Data Source=TERRYKOZTE\SQLEXPRESS;Initial Catalog=qlhs;Integrated Security=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>
