USE [qlhs]
GO
/****** Object:  Schema [hs]    Script Date: 12/7/2025 12:09:13 AM ******/
CREATE SCHEMA [hs]
GO
/****** Object:  UserDefinedTableType [hs].[udt_MenuOrderItem]    Script Date: 12/7/2025 12:09:13 AM ******/
CREATE TYPE [hs].[udt_MenuOrderItem] AS TABLE(
	[ItemID] [int] NOT NULL,
	[Quantity] [decimal](12, 2) NOT NULL,
	[UnitPrice] [decimal](12, 2) NOT NULL
)
GO
/****** Object:  Table [dbo].[MenuCategories]    Script Date: 12/7/2025 12:09:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuCategories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[DisplayOrder] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuItems]    Script Date: 12/7/2025 12:09:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuItems](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[ItemCode] [nvarchar](30) NOT NULL,
	[ItemName] [nvarchar](120) NOT NULL,
	[UnitPrice] [decimal](12, 2) NOT NULL,
	[UnitName] [nvarchar](30) NULL,
	[Description] [nvarchar](400) NULL,
	[IsAvailable] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ItemCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ActiveMenu]    Script Date: 12/7/2025 12:09:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[vw_ActiveMenu] AS
SELECT C.CategoryID, C.CategoryName, I.ItemID, I.ItemCode, I.ItemName, I.UnitPrice, I.UnitName, I.IsAvailable
FROM dbo.MenuCategories C
JOIN dbo.MenuItems I ON I.CategoryID = C.CategoryID
WHERE C.IsActive = 1 AND I.IsAvailable = 1;
GO
/****** Object:  Table [hs].[MenuCategories]    Script Date: 12/7/2025 12:09:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [hs].[MenuCategories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[DisplayOrder] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [hs].[MenuItems]    Script Date: 12/7/2025 12:09:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [hs].[MenuItems](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[ItemCode] [nvarchar](30) NOT NULL,
	[ItemName] [nvarchar](120) NOT NULL,
	[UnitPrice] [decimal](12, 2) NOT NULL,
	[UnitName] [nvarchar](30) NULL,
	[Description] [nvarchar](400) NULL,
	[IsAvailable] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ItemCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [hs].[vw_ActiveMenu]    Script Date: 12/7/2025 12:09:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [hs].[vw_ActiveMenu] AS
SELECT C.CategoryID, C.CategoryName, I.ItemID, I.ItemCode, I.ItemName, I.UnitPrice, I.UnitName, I.IsAvailable
FROM hs.MenuCategories C JOIN hs.MenuItems I ON I.CategoryID = C.CategoryID
WHERE C.IsActive = 1 AND I.IsAvailable = 1;
GO
/****** Object:  Table [hs].[Branches]    Script Date: 12/7/2025 12:09:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [hs].[Branches](
	[BranchID] [int] IDENTITY(1,1) NOT NULL,
	[BranchCode] [nvarchar](20) NOT NULL,
	[BranchName] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](200) NULL,
	[City] [nvarchar](50) NULL,
	[Phone] [nvarchar](20) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BranchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[BranchCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [hs].[Orders]    Script Date: 12/7/2025 12:09:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [hs].[Orders](
	[OrderID] [bigint] IDENTITY(1,1) NOT NULL,
	[BranchID] [int] NOT NULL,
	[TableID] [int] NULL,
	[OrderNumber] [nvarchar](30) NOT NULL,
	[OrderStatus] [nvarchar](20) NOT NULL,
	[TotalAmount] [decimal](14, 2) NOT NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedBy] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CompletedAt] [datetime2](7) NULL,
	[IsReservation] [bit] NOT NULL,
	[ReservationTime] [datetime2](7) NULL,
	[Guests] [int] NULL,
	[ContactName] [nvarchar](100) NULL,
	[ContactPhone] [nvarchar](20) NULL,
	[ContactNote] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[OrderNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [hs].[vw_TodayRevenue]    Script Date: 12/7/2025 12:09:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [hs].[vw_TodayRevenue] AS
SELECT B.BranchID, B.BranchName, CAST(O.CreatedAt AS DATE) AS OrderDate, COUNT(*) AS OrderCount, SUM(O.TotalAmount) AS TotalRevenue
FROM hs.Orders O JOIN hs.Branches B ON O.BranchID = B.BranchID
WHERE CAST(O.CreatedAt AS DATE) = CAST(SYSDATETIME() AS DATE) AND O.OrderStatus IN ('Processing','Completed')
GROUP BY B.BranchID, B.BranchName, CAST(O.CreatedAt AS DATE);
GO
/****** Object:  Table [hs].[RestaurantTables]    Script Date: 12/7/2025 12:09:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [hs].[RestaurantTables](
	[TableID] [int] IDENTITY(1,1) NOT NULL,
	[BranchID] [int] NOT NULL,
	[TableNumber] [int] NOT NULL,
	[QrData] [nvarchar](100) NOT NULL,
	[Capacity] [int] NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TableID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_hs_Table] UNIQUE NONCLUSTERED 
(
	[BranchID] ASC,
	[TableNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [hs].[OrderItems]    Script Date: 12/7/2025 12:09:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [hs].[OrderItems](
	[OrderItemID] [bigint] IDENTITY(1,1) NOT NULL,
	[OrderID] [bigint] NOT NULL,
	[ItemID] [int] NOT NULL,
	[ItemName] [nvarchar](120) NOT NULL,
	[UnitPrice] [decimal](12, 2) NOT NULL,
	[Quantity] [decimal](12, 2) NOT NULL,
	[LineTotal]  AS ([UnitPrice]*[Quantity]) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[OrderItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [hs].[vw_KitchenTicket]    Script Date: 12/7/2025 12:09:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [hs].[vw_KitchenTicket] AS
SELECT TOP 1000 O.OrderID, O.OrderNumber, O.OrderStatus, T.TableNumber, B.BranchName, O.CreatedAt, OI.ItemName, OI.Quantity
FROM hs.Orders O
LEFT JOIN hs.RestaurantTables T ON T.TableID = O.TableID
JOIN hs.Branches B ON B.BranchID = O.BranchID
JOIN hs.OrderItems OI ON OI.OrderID = O.OrderID
WHERE O.OrderStatus IN ('Pending','Processing')
ORDER BY O.CreatedAt ASC;
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 12/7/2025 12:09:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [nvarchar](100) NOT NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[Address] [nvarchar](200) NULL,
	[City] [nvarchar](50) NULL,
	[District] [nvarchar](50) NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 12/7/2025 12:09:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[OrderNumber] [nvarchar](50) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[OrderDate] [datetime] NULL,
	[TotalAmount] [decimal](15, 2) NULL,
	[Status] [nvarchar](20) NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[UpdatedDate] [datetime] NULL,
	[PaymentStatus] [nvarchar](20) NOT NULL,
	[CompletedDate] [datetime] NULL,
	[TableID] [int] NULL,
	[IsReservation] [bit] NOT NULL,
	[ReservationTime] [datetime] NULL,
	[Guests] [int] NULL,
	[ContactName] [nvarchar](100) NULL,
	[ContactPhone] [nvarchar](20) NULL,
	[ContactNote] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[OrderNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 12/7/2025 12:09:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderDetailID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[SeafoodID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
	[TotalPrice] [decimal](15, 2) NULL,
	[Notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_OrderDetails]    Script Date: 12/7/2025 12:09:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================
-- VIEWS
-- ============================================

-- View: Thông tin đơn hàng chi tiết
CREATE VIEW [dbo].[vw_OrderDetails] AS
SELECT 
    o.OrderID,
    o.OrderNumber,
    c.CustomerName,
    c.PhoneNumber,
    o.OrderDate,
    o.TotalAmount,
    o.Status,
    COUNT(od.OrderDetailID) as ItemCount
FROM Orders o
INNER JOIN Customers c ON o.CustomerID = c.CustomerID
LEFT JOIN OrderDetails od ON o.OrderID = od.OrderID
GROUP BY o.OrderID, o.OrderNumber, c.CustomerName, c.PhoneNumber, 
         o.OrderDate, o.TotalAmount, o.Status;
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 12/7/2025 12:09:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[Status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seafood]    Script Date: 12/7/2025 12:09:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seafood](
	[SeafoodID] [int] IDENTITY(1,1) NOT NULL,
	[SeafoodName] [nvarchar](100) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
	[Quantity] [int] NULL,
	[Description] [nvarchar](max) NULL,
	[ImagePath] [nvarchar](500) NULL,
	[Status] [nvarchar](20) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[SeafoodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_CurrentInventory]    Script Date: 12/7/2025 12:09:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- View: Tồn kho hiện tại
CREATE VIEW [dbo].[vw_CurrentInventory] AS
SELECT 
    s.SeafoodID,
    s.SeafoodName,
    c.CategoryName,
    s.UnitPrice,
    s.Quantity,
    CASE 
        WHEN s.Quantity = 0 THEN N'Hết hàng'
        WHEN s.Quantity < 10 THEN N'Sắp hết'
        ELSE N'Còn hàng'
    END as StockStatus
FROM Seafood s
LEFT JOIN Categories c ON s.CategoryID = c.CategoryID
WHERE s.Status = 'Active';
GO
/****** Object:  Table [dbo].[Branches]    Script Date: 12/7/2025 12:09:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branches](
	[BranchID] [int] IDENTITY(1,1) NOT NULL,
	[BranchCode] [nvarchar](20) NOT NULL,
	[BranchName] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](200) NULL,
	[City] [nvarchar](50) NULL,
	[Phone] [nvarchar](20) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BranchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[BranchCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventory]    Script Date: 12/7/2025 12:09:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory](
	[InventoryID] [int] IDENTITY(1,1) NOT NULL,
	[SeafoodID] [int] NOT NULL,
	[QuantityIn] [int] NULL,
	[QuantityOut] [int] NULL,
	[QuantityRemaining] [int] NULL,
	[TransactionDate] [datetime] NULL,
	[TransactionType] [nvarchar](20) NULL,
	[Notes] [nvarchar](max) NULL,
	[ProcessedBy] [nvarchar](100) NULL,
	[Quantity] [int] NOT NULL,
	[ReorderLevel] [int] NOT NULL,
	[LastUpdated] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[InventoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryTransactions]    Script Date: 12/7/2025 12:09:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryTransactions](
	[TransactionID] [int] IDENTITY(1,1) NOT NULL,
	[InventoryID] [int] NOT NULL,
	[TransactionType] [nvarchar](20) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Reason] [nvarchar](200) NULL,
	[SupplierID] [int] NULL,
	[TransactionDate] [datetime] NOT NULL,
	[CreatedBy] [int] NULL,
 CONSTRAINT [PK_InventoryTransactions] PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMethods]    Script Date: 12/7/2025 12:09:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethods](
	[PaymentMethodID] [int] IDENTITY(1,1) NOT NULL,
	[MethodName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_PaymentMethods] PRIMARY KEY CLUSTERED 
(
	[PaymentMethodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 12/7/2025 12:09:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[PaymentDate] [datetime] NULL,
	[Amount] [decimal](15, 2) NOT NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[Status] [nvarchar](20) NULL,
	[Notes] [nvarchar](max) NULL,
	[ProcessedBy] [nvarchar](100) NULL,
	[PaymentMethodID] [int] NOT NULL,
	[TransactionCode] [nvarchar](100) NULL,
	[QRCode] [nvarchar](max) NULL,
	[BankAccount] [nvarchar](50) NULL,
	[BankName] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RestaurantTables]    Script Date: 12/7/2025 12:09:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RestaurantTables](
	[TableID] [int] IDENTITY(1,1) NOT NULL,
	[BranchID] [int] NOT NULL,
	[TableNumber] [int] NOT NULL,
	[QrData] [nvarchar](100) NOT NULL,
	[Capacity] [int] NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TableID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Table] UNIQUE NONCLUSTERED 
(
	[BranchID] ASC,
	[TableNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seafoods]    Script Date: 12/7/2025 12:09:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seafoods](
	[SeafoodID] [int] IDENTITY(1,1) NOT NULL,
	[SeafoodName] [nvarchar](100) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Unit] [nvarchar](20) NULL,
	[Description] [nvarchar](max) NULL,
	[ImagePath] [nvarchar](200) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_Seafoods] PRIMARY KEY CLUSTERED 
(
	[SeafoodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 12/7/2025 12:09:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[SupplierID] [int] IDENTITY(1,1) NOT NULL,
	[SupplierName] [nvarchar](100) NOT NULL,
	[ContactPerson] [nvarchar](100) NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[Address] [nvarchar](200) NULL,
	[City] [nvarchar](50) NULL,
	[Status] [nvarchar](20) NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tables]    Script Date: 12/7/2025 12:09:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tables](
	[TableID] [int] IDENTITY(1,1) NOT NULL,
	[TableName] [nvarchar](50) NOT NULL,
	[BranchID] [int] NULL,
	[TableNumber] [int] NOT NULL,
	[QrData] [nvarchar](max) NULL,
	[Capacity] [int] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Tables] PRIMARY KEY CLUSTERED 
(
	[TableID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/7/2025 12:09:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[Role] [nvarchar](50) NULL,
	[Status] [nvarchar](20) NULL,
	[CreatedDate] [datetime] NULL,
	[LastLoginDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VietQRConfig]    Script Date: 12/7/2025 12:09:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VietQRConfig](
	[ConfigID] [int] IDENTITY(1,1) NOT NULL,
	[BankCode] [nvarchar](10) NOT NULL,
	[AccountNo] [nvarchar](50) NOT NULL,
	[AccountName] [nvarchar](200) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ConfigID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [hs].[OrderPayments]    Script Date: 12/7/2025 12:09:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [hs].[OrderPayments](
	[PaymentID] [bigint] IDENTITY(1,1) NOT NULL,
	[OrderID] [bigint] NOT NULL,
	[PaidAmount] [decimal](14, 2) NOT NULL,
	[PaymentMethod] [nvarchar](30) NOT NULL,
	[PaidAt] [datetime2](7) NOT NULL,
	[Note] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [hs].[Roles]    Script Date: 12/7/2025 12:09:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [hs].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [hs].[UserRoles]    Script Date: 12/7/2025 12:09:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [hs].[UserRoles](
	[UserID] [int] NOT NULL,
	[RoleID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [hs].[Users]    Script Date: 12/7/2025 12:09:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [hs].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [varbinary](32) NOT NULL,
	[PasswordSalt] [varbinary](16) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[LastLoginAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Branches] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Branches] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Inventory] ADD  DEFAULT ((0)) FOR [QuantityIn]
GO
ALTER TABLE [dbo].[Inventory] ADD  DEFAULT ((0)) FOR [QuantityOut]
GO
ALTER TABLE [dbo].[Inventory] ADD  DEFAULT (getdate()) FOR [TransactionDate]
GO
ALTER TABLE [dbo].[Inventory] ADD  CONSTRAINT [DF_Inventory_Quantity]  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Inventory] ADD  CONSTRAINT [DF_Inventory_ReorderLevel]  DEFAULT ((10)) FOR [ReorderLevel]
GO
ALTER TABLE [dbo].[Inventory] ADD  CONSTRAINT [DF_Inventory_LastUpdated]  DEFAULT (getdate()) FOR [LastUpdated]
GO
ALTER TABLE [dbo].[InventoryTransactions] ADD  DEFAULT (getdate()) FOR [TransactionDate]
GO
ALTER TABLE [dbo].[MenuCategories] ADD  DEFAULT ((0)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[MenuCategories] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[MenuItems] ADD  DEFAULT ((1)) FOR [IsAvailable]
GO
ALTER TABLE [dbo].[MenuItems] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('Unpaid') FOR [PaymentStatus]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_IsReservation]  DEFAULT ((0)) FOR [IsReservation]
GO
ALTER TABLE [dbo].[PaymentMethods] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT ('Completed') FOR [Status]
GO
ALTER TABLE [dbo].[RestaurantTables] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Seafood] ADD  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Seafood] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Seafood] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Seafoods] ADD  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Seafoods] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Seafoods] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Suppliers] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Suppliers] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Tables] ADD  DEFAULT ((4)) FOR [Capacity]
GO
ALTER TABLE [dbo].[Tables] ADD  DEFAULT ('Available') FOR [Status]
GO
ALTER TABLE [dbo].[Tables] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[VietQRConfig] ADD  CONSTRAINT [DF_VietQRConfig_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[VietQRConfig] ADD  CONSTRAINT [DF_VietQRConfig_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [hs].[Branches] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [hs].[Branches] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [hs].[MenuCategories] ADD  DEFAULT ((0)) FOR [DisplayOrder]
GO
ALTER TABLE [hs].[MenuCategories] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [hs].[MenuItems] ADD  DEFAULT ((1)) FOR [IsAvailable]
GO
ALTER TABLE [hs].[MenuItems] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [hs].[OrderPayments] ADD  DEFAULT (sysdatetime()) FOR [PaidAt]
GO
ALTER TABLE [hs].[Orders] ADD  DEFAULT ('Pending') FOR [OrderStatus]
GO
ALTER TABLE [hs].[Orders] ADD  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [hs].[Orders] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [hs].[Orders] ADD  CONSTRAINT [DF_hs_Orders_IsReservation]  DEFAULT ((0)) FOR [IsReservation]
GO
ALTER TABLE [hs].[RestaurantTables] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [hs].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [hs].[Users] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Inventory]  WITH CHECK ADD FOREIGN KEY([SeafoodID])
REFERENCES [dbo].[Seafood] ([SeafoodID])
GO
ALTER TABLE [dbo].[Inventory]  WITH NOCHECK ADD  CONSTRAINT [FK_Inventory_Seafoods] FOREIGN KEY([SeafoodID])
REFERENCES [dbo].[Seafoods] ([SeafoodID])
GO
ALTER TABLE [dbo].[Inventory] CHECK CONSTRAINT [FK_Inventory_Seafoods]
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD  CONSTRAINT [FK_InventoryTransactions_Inventory] FOREIGN KEY([InventoryID])
REFERENCES [dbo].[Inventory] ([InventoryID])
GO
ALTER TABLE [dbo].[InventoryTransactions] CHECK CONSTRAINT [FK_InventoryTransactions_Inventory]
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD  CONSTRAINT [FK_InventoryTransactions_Suppliers] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Suppliers] ([SupplierID])
GO
ALTER TABLE [dbo].[InventoryTransactions] CHECK CONSTRAINT [FK_InventoryTransactions_Suppliers]
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD  CONSTRAINT [FK_InventoryTransactions_Users] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[InventoryTransactions] CHECK CONSTRAINT [FK_InventoryTransactions_Users]
GO
ALTER TABLE [dbo].[MenuItems]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[MenuCategories] ([CategoryID])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([SeafoodID])
REFERENCES [dbo].[Seafood] ([SeafoodID])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH NOCHECK ADD  CONSTRAINT [FK_OrderDetails_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Orders]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH NOCHECK ADD  CONSTRAINT [FK_OrderDetails_Seafoods] FOREIGN KEY([SeafoodID])
REFERENCES [dbo].[Seafoods] ([SeafoodID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Seafoods]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Orders]  WITH NOCHECK ADD  CONSTRAINT [FK_Orders_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customers]
GO
ALTER TABLE [dbo].[Orders]  WITH NOCHECK ADD  CONSTRAINT [FK_Orders_Tables] FOREIGN KEY([TableID])
REFERENCES [dbo].[Tables] ([TableID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Tables]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[Payments]  WITH NOCHECK ADD  CONSTRAINT [FK_Payments_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Orders]
GO
ALTER TABLE [dbo].[Payments]  WITH NOCHECK ADD  CONSTRAINT [FK_Payments_PaymentMethods] FOREIGN KEY([PaymentMethodID])
REFERENCES [dbo].[PaymentMethods] ([PaymentMethodID])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_PaymentMethods]
GO
ALTER TABLE [dbo].[RestaurantTables]  WITH CHECK ADD FOREIGN KEY([BranchID])
REFERENCES [dbo].[Branches] ([BranchID])
GO
ALTER TABLE [dbo].[Seafood]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Seafoods]  WITH CHECK ADD  CONSTRAINT [FK_Seafoods_Categories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Seafoods] CHECK CONSTRAINT [FK_Seafoods_Categories]
GO
ALTER TABLE [hs].[MenuItems]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [hs].[MenuCategories] ([CategoryID])
GO
ALTER TABLE [hs].[OrderItems]  WITH CHECK ADD FOREIGN KEY([ItemID])
REFERENCES [hs].[MenuItems] ([ItemID])
GO
ALTER TABLE [hs].[OrderItems]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [hs].[Orders] ([OrderID])
ON DELETE CASCADE
GO
ALTER TABLE [hs].[OrderPayments]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [hs].[Orders] ([OrderID])
ON DELETE CASCADE
GO
ALTER TABLE [hs].[Orders]  WITH CHECK ADD FOREIGN KEY([BranchID])
REFERENCES [hs].[Branches] ([BranchID])
GO
ALTER TABLE [hs].[Orders]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [hs].[Users] ([UserID])
GO
ALTER TABLE [hs].[Orders]  WITH CHECK ADD FOREIGN KEY([TableID])
REFERENCES [hs].[RestaurantTables] ([TableID])
GO
ALTER TABLE [hs].[RestaurantTables]  WITH CHECK ADD FOREIGN KEY([BranchID])
REFERENCES [hs].[Branches] ([BranchID])
GO
ALTER TABLE [hs].[UserRoles]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [hs].[Roles] ([RoleID])
ON DELETE CASCADE
GO
ALTER TABLE [hs].[UserRoles]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [hs].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [hs].[OrderItems]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [hs].[Orders]  WITH CHECK ADD  CONSTRAINT [CK_hs_Orders_Status] CHECK  (([OrderStatus]='Reserved' OR [OrderStatus]='Pending' OR [OrderStatus]='Processing' OR [OrderStatus]='Completed' OR [OrderStatus]='Cancelled'))
GO
ALTER TABLE [hs].[Orders] CHECK CONSTRAINT [CK_hs_Orders_Status]
GO
/****** Object:  StoredProcedure [dbo].[DropIfExists]    Script Date: 12/7/2025 12:09:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DropIfExists] @type NVARCHAR(10), @name SYSNAME
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @sql NVARCHAR(MAX) = N'';
    IF @type = 'T' AND OBJECT_ID(@name, 'U') IS NOT NULL SET @sql = N'DROP TABLE ' + QUOTENAME(@name) + N';';
    IF @type = 'V' AND OBJECT_ID(@name, 'V') IS NOT NULL SET @sql = N'DROP VIEW ' + QUOTENAME(@name) + N';';
    IF @type = 'P' AND OBJECT_ID(@name, 'P') IS NOT NULL SET @sql = N'DROP PROCEDURE ' + QUOTENAME(@name) + N';';
    IF @type = 'FN' AND OBJECT_ID(@name, 'FN') IS NOT NULL SET @sql = N'DROP FUNCTION ' + QUOTENAME(@name) + N';';
    IF LEN(@sql) > 0 EXEC(@sql);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AddMenuItem]    Script Date: 12/7/2025 12:09:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_AddMenuItem]
    @CategoryName NVARCHAR(100),
    @ItemCode NVARCHAR(30),
    @ItemName NVARCHAR(120),
    @UnitPrice DECIMAL(12,2),
    @UnitName NVARCHAR(30)=NULL,
    @Description NVARCHAR(400)=NULL
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @CategoryID INT=(SELECT CategoryID FROM dbo.MenuCategories WHERE CategoryName=@CategoryName);
    IF @CategoryID IS NULL BEGIN
        INSERT INTO dbo.MenuCategories(CategoryName, DisplayOrder, IsActive) VALUES(@CategoryName,0,1);
        SET @CategoryID=SCOPE_IDENTITY();
    END
    INSERT INTO dbo.MenuItems(CategoryID,ItemCode,ItemName,UnitPrice,UnitName,Description,IsAvailable)
    VALUES(@CategoryID,@ItemCode,@ItemName,@UnitPrice,@UnitName,@Description,1);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AddTable]    Script Date: 12/7/2025 12:09:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_AddTable]
    @BranchCode NVARCHAR(20),
    @TableNumber INT,
    @Capacity INT=NULL
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @BranchID INT=(SELECT BranchID FROM dbo.Branches WHERE BranchCode=@BranchCode);
    IF @BranchID IS NULL BEGIN RAISERROR('Branch not found',16,1); RETURN; END
    DECLARE @Qr NVARCHAR(100)=CONCAT(@BranchCode,'-',@TableNumber);
    IF EXISTS(SELECT 1 FROM dbo.RestaurantTables WHERE BranchID=@BranchID AND TableNumber=@TableNumber)
        UPDATE dbo.RestaurantTables SET QrData=@Qr, Capacity=@Capacity, IsActive=1
        WHERE BranchID=@BranchID AND TableNumber=@TableNumber;
    ELSE
        INSERT INTO dbo.RestaurantTables(BranchID,TableNumber,QrData,Capacity,IsActive)
        VALUES(@BranchID,@TableNumber,@Qr,@Capacity,1);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetDailyRevenue]    Script Date: 12/7/2025 12:09:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================
-- STORED PROCEDURES
-- ============================================

-- Procedure: Lấy doanh thu theo ngày
CREATE PROCEDURE [dbo].[sp_GetDailyRevenue]
    @Date DATE
AS
BEGIN
    SELECT 
        CAST(OrderDate AS DATE) as OrderDate,
        COUNT(DISTINCT OrderID) as OrderCount,
        SUM(TotalAmount) as TotalRevenue
    FROM Orders
    WHERE CAST(OrderDate AS DATE) = @Date
    GROUP BY CAST(OrderDate AS DATE);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetInventoryStatus]    Script Date: 12/7/2025 12:09:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetInventoryStatus]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        i.InventoryID,
        s.SeafoodID,
        s.SeafoodName,
        i.Quantity,
        i.ReorderLevel,
        CASE 
            WHEN i.Quantity <= i.ReorderLevel THEN N'Cần nhập'
            WHEN i.Quantity > i.ReorderLevel AND i.Quantity <= i.ReorderLevel * 2 THEN N'Thấp'
            ELSE N'Bình thường'
        END AS Status,
        i.LastUpdated
    FROM [dbo].[Inventory] i
    INNER JOIN [dbo].[Seafoods] s ON i.SeafoodID = s.SeafoodID
    ORDER BY i.Quantity ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetOrderById]    Script Date: 12/7/2025 12:09:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetOrderById]
    @OrderID INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        o.OrderID,
        o.OrderNumber,
        ISNULL(c.CustomerName, N'Khách lẻ') AS CustomerName,
        o.OrderDate,
        o.TotalAmount,
        o.Status
    FROM [dbo].[Orders] o
    LEFT JOIN [dbo].[Customers] c ON o.CustomerID = c.CustomerID
    WHERE o.OrderID = @OrderID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetOrderDetails]    Script Date: 12/7/2025 12:09:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetOrderDetails]
    @OrderID INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        od.OrderDetailID,
        od.OrderID,
        s.SeafoodName,
        od.Quantity,
        od.UnitPrice,
        (od.Quantity * od.UnitPrice) AS TotalPrice
    FROM [dbo].[OrderDetails] od
    INNER JOIN [dbo].[Seafoods] s ON od.SeafoodID = s.SeafoodID
    WHERE od.OrderID = @OrderID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetOrders]    Script Date: 12/7/2025 12:09:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetOrders]
    @FromDate DATETIME,
    @ToDate DATETIME,
    @Status NVARCHAR(20) = NULL,
    @Keyword NVARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        o.OrderID,
        o.OrderNumber,
        ISNULL(c.CustomerName, N'Khách lẻ') AS CustomerName,
        o.OrderDate,
        o.TotalAmount,
        o.Status
    FROM [dbo].[Orders] o
    LEFT JOIN [dbo].[Customers] c ON o.CustomerID = c.CustomerID
    WHERE o.OrderDate >= @FromDate 
        AND o.OrderDate <= @ToDate
        AND (@Status IS NULL OR o.Status = @Status)
        AND (
            @Keyword IS NULL 
            OR o.OrderNumber LIKE '%' + @Keyword + '%' 
            OR c.CustomerName LIKE '%' + @Keyword + '%'
        )
    ORDER BY o.OrderDate DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPaymentsByOrderId]    Script Date: 12/7/2025 12:09:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetPaymentsByOrderId]
    @OrderID INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        p.PaymentID,
        p.OrderID,
        pm.MethodName,
        p.Amount,
        p.PaymentDate,
        p.TransactionCode,
        p.Status
    FROM [dbo].[Payments] p
    INNER JOIN [dbo].[PaymentMethods] pm ON p.PaymentMethodID = pm.PaymentMethodID
    WHERE p.OrderID = @OrderID
    ORDER BY p.PaymentDate DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTopSellingSeafood]    Script Date: 12/7/2025 12:09:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedure: Lấy sản phẩm bán chạy
CREATE PROCEDURE [dbo].[sp_GetTopSellingSeafood]
    @TopCount INT = 10
AS
BEGIN
    SELECT TOP (@TopCount)
        s.SeafoodID,
        s.SeafoodName,
        c.CategoryName,
        SUM(od.Quantity) as TotalQuantitySold,
        SUM(od.TotalPrice) as TotalRevenue
    FROM Seafood s
    INNER JOIN OrderDetails od ON s.SeafoodID = od.SeafoodID
    INNER JOIN Orders o ON od.OrderID = o.OrderID
    LEFT JOIN Categories c ON s.CategoryID = c.CategoryID
    WHERE o.Status = 'Completed'
    GROUP BY s.SeafoodID, s.SeafoodName, c.CategoryName
    ORDER BY TotalQuantitySold DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertInventoryTransaction]    Script Date: 12/7/2025 12:09:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertInventoryTransaction]
    @InventoryID INT,
    @TransactionType NVARCHAR(20),
    @Quantity INT,
    @Reason NVARCHAR(200) = NULL,
    @SupplierID INT = NULL,
    @CreatedBy INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    BEGIN TRY
        INSERT INTO [dbo].[InventoryTransactions] (InventoryID, TransactionType, Quantity, Reason, SupplierID, CreatedBy)
        VALUES (@InventoryID, @TransactionType, @Quantity, @Reason, @SupplierID, @CreatedBy);

        IF @TransactionType = 'In'
            UPDATE [dbo].[Inventory] SET Quantity = Quantity + @Quantity, LastUpdated = GETDATE() WHERE InventoryID = @InventoryID;
        ELSE IF @TransactionType = 'Out'
            UPDATE [dbo].[Inventory] SET Quantity = Quantity - @Quantity, LastUpdated = GETDATE() WHERE InventoryID = @InventoryID;
        ELSE IF @TransactionType = 'Adjustment'
            UPDATE [dbo].[Inventory] SET Quantity = @Quantity, LastUpdated = GETDATE() WHERE InventoryID = @InventoryID;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertOrder]    Script Date: 12/7/2025 12:09:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertOrder]
    @CustomerID INT = NULL,
    @TableID INT = NULL,
    @TotalAmount DECIMAL(18, 2),
    @Status NVARCHAR(20) = 'Pending',
    @CreatedBy INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @OrderNumber NVARCHAR(50);
    SET @OrderNumber = 'ORD' + FORMAT(GETDATE(), 'yyyyMMddHHmmss');

    INSERT INTO [dbo].[Orders] (OrderNumber, CustomerID, TableID, TotalAmount, Status, CreatedBy)
    VALUES (@OrderNumber, @CustomerID, @TableID, @TotalAmount, @Status, @CreatedBy);

    SELECT CAST(SCOPE_IDENTITY() AS INT) AS NewOrderID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertOrderDetail]    Script Date: 12/7/2025 12:09:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertOrderDetail]
    @OrderID INT,
    @SeafoodID INT,
    @Quantity INT,
    @UnitPrice DECIMAL(18, 2)
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO [dbo].[OrderDetails] (OrderID, SeafoodID, Quantity, UnitPrice)
    VALUES (@OrderID, @SeafoodID, @Quantity, @UnitPrice);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertPayment]    Script Date: 12/7/2025 12:09:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertPayment]
    @OrderID INT,
    @PaymentMethodID INT,
    @Amount DECIMAL(18, 2),
    @TransactionCode NVARCHAR(100) = NULL,
    @QRCode NVARCHAR(MAX) = NULL,
    @BankAccount NVARCHAR(50) = NULL,
    @BankName NVARCHAR(100) = NULL,
    @Status NVARCHAR(20) = 'Pending'
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO [dbo].[Payments] (OrderID, PaymentMethodID, Amount, TransactionCode, QRCode, BankAccount, BankName, Status)
    VALUES (@OrderID, @PaymentMethodID, @Amount, @TransactionCode, @QRCode, @BankAccount, @BankName, @Status);

    SELECT CAST(SCOPE_IDENTITY() AS INT) AS NewPaymentID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateOrderStatus]    Script Date: 12/7/2025 12:09:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateOrderStatus]
    @OrderID INT,
    @Status NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE [dbo].[Orders]
    SET Status = @Status,
        CompletedDate = CASE WHEN @Status = 'Completed' THEN GETDATE() ELSE CompletedDate END
    WHERE OrderID = @OrderID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateOrderTotal]    Script Date: 12/7/2025 12:09:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedure: Cập nhật tổng tiền đơn hàng
CREATE PROCEDURE [dbo].[sp_UpdateOrderTotal]
    @OrderID INT
AS
BEGIN
    DECLARE @Total DECIMAL(15,2);
    
    SELECT @Total = SUM(TotalPrice)
    FROM OrderDetails
    WHERE OrderID = @OrderID;
    
    UPDATE Orders
    SET TotalAmount = ISNULL(@Total, 0)
    WHERE OrderID = @OrderID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdatePaymentStatus]    Script Date: 12/7/2025 12:09:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdatePaymentStatus]
    @PaymentID INT,
    @Status NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE [dbo].[Payments]
    SET Status = @Status
    WHERE PaymentID = @PaymentID;
END
GO
/****** Object:  StoredProcedure [hs].[sp_AddTable]    Script Date: 12/7/2025 12:09:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [hs].[sp_AddTable]
    @BranchCode NVARCHAR(20), @TableNumber INT, @Capacity INT=NULL
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @BranchID INT=(SELECT BranchID FROM hs.Branches WHERE BranchCode=@BranchCode);
    IF @BranchID IS NULL BEGIN RAISERROR('Branch not found', 16, 1); RETURN; END
    DECLARE @Qr NVARCHAR(100) = @BranchCode + N'-' + CAST(@TableNumber AS NVARCHAR(12));
    IF EXISTS(SELECT 1 FROM hs.RestaurantTables WHERE BranchID=@BranchID AND TableNumber=@TableNumber)
        UPDATE hs.RestaurantTables SET QrData=@Qr, Capacity=@Capacity, IsActive=1 WHERE BranchID=@BranchID AND TableNumber=@TableNumber;
    ELSE
        INSERT INTO hs.RestaurantTables(BranchID,TableNumber,QrData,Capacity,IsActive) VALUES(@BranchID,@TableNumber,@Qr,@Capacity,1);
END
GO
/****** Object:  StoredProcedure [hs].[sp_CreateOrderFromMenu]    Script Date: 12/7/2025 12:09:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

    CREATE PROCEDURE [hs].[sp_CreateOrderFromMenu]
        @BranchCode   NVARCHAR(20),
        @TableNumber  INT = NULL,
        @CreatedBy    INT = NULL,
        @Note         NVARCHAR(300) = NULL,
        @Items        [hs].[udt_MenuOrderItem] READONLY
    AS
    BEGIN
        SET NOCOUNT ON;
        DECLARE @BranchID INT;
        SELECT @BranchID = B.BranchID FROM hs.Branches B WHERE B.BranchCode = @BranchCode;
        IF @BranchID IS NULL BEGIN RAISERROR(N'Branch not found', 16, 1); RETURN; END;

        DECLARE @TableID INT = NULL;
        IF @TableNumber IS NOT NULL
            SELECT @TableID = T.TableID FROM hs.RestaurantTables T WHERE T.BranchID = @BranchID AND T.TableNumber = @TableNumber;

        DECLARE @OrderNumber NVARCHAR(30) = N'ORD' + FORMAT(SYSDATETIME(), 'yyyyMMddHHmmss');

        INSERT INTO hs.Orders (BranchID, TableID, OrderNumber, OrderStatus, TotalAmount, Note, CreatedBy, CreatedAt)
        VALUES (@BranchID, @TableID, @OrderNumber, N'Pending', 0, @Note, @CreatedBy, SYSDATETIME());

        DECLARE @OrderID BIGINT = SCOPE_IDENTITY();

        -- Insert lines from items
        INSERT INTO hs.OrderItems (OrderID, ItemID, ItemName, UnitPrice, Quantity)
        SELECT @OrderID, I.ItemID, MI.ItemName, I.UnitPrice, I.Quantity
        FROM @Items I
        JOIN hs.MenuItems MI ON MI.ItemID = I.ItemID;

        -- Update total
        UPDATE O
        SET O.TotalAmount = X.TotalAmount
        FROM hs.Orders O
        JOIN (
            SELECT OI.OrderID, SUM(OI.UnitPrice * OI.Quantity) AS TotalAmount
            FROM hs.OrderItems OI
            WHERE OI.OrderID = @OrderID
            GROUP BY OI.OrderID
        ) X ON X.OrderID = O.OrderID
        WHERE O.OrderID = @OrderID;

        -- Return created order
        SELECT @OrderID AS OrderID, @OrderNumber AS OrderNumber;
    END
GO
/****** Object:  StoredProcedure [hs].[sp_CreatePaymentVietQR]    Script Date: 12/7/2025 12:09:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

    CREATE PROCEDURE [hs].[sp_CreatePaymentVietQR]
        @OrderID        INT,
        @Amount         DECIMAL(18,2),
        @TransactionCode NVARCHAR(100) = NULL,
        @QRCode          NVARCHAR(MAX) = NULL,
        @BankAccount     NVARCHAR(50) = NULL,
        @BankName        NVARCHAR(100) = NULL
    AS
    BEGIN
        SET NOCOUNT ON;
        DECLARE @PaymentMethodID INT = (SELECT TOP 1 PaymentMethodID FROM dbo.PaymentMethods WHERE MethodName = N'VietQR' AND IsActive = 1);
        IF @PaymentMethodID IS NULL BEGIN RAISERROR(N'VietQR method missing in PaymentMethods', 16, 1); RETURN; END;

        INSERT INTO dbo.Payments (OrderID, PaymentMethodID, Amount, TransactionCode, QRCode, BankAccount, BankName, Status)
        VALUES (@OrderID, @PaymentMethodID, @Amount, @TransactionCode, @QRCode, @BankAccount, @BankName, N'Pending');

        SELECT CAST(SCOPE_IDENTITY() AS INT) AS PaymentID;
    END
GO
/****** Object:  StoredProcedure [hs].[sp_CreateUser]    Script Date: 12/7/2025 12:09:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [hs].[sp_CreateUser]
    @Username NVARCHAR(50), @PlainPassword NVARCHAR(100), @FullName NVARCHAR(100)=NULL, @Email NVARCHAR(100)=NULL, @Phone NVARCHAR(20)=NULL
AS
BEGIN
    SET NOCOUNT ON;
    IF EXISTS(SELECT 1 FROM hs.Users WHERE Username=@Username) BEGIN RAISERROR('Username already exists', 16, 1); RETURN; END
    DECLARE @Salt VARBINARY(16)=CRYPT_GEN_RANDOM(16);
    DECLARE @Hash VARBINARY(32)=HASHBYTES('SHA2_256', @PlainPassword + CONVERT(VARCHAR(36), CAST(@Salt AS UNIQUEIDENTIFIER)));
    INSERT INTO hs.Users(Username,PasswordHash,PasswordSalt,FullName,Email,Phone) VALUES(@Username,@Hash,@Salt,@FullName,@Email,@Phone);
END
GO
/****** Object:  StoredProcedure [hs].[sp_GetMenuItems]    Script Date: 12/7/2025 12:09:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

    CREATE PROCEDURE [hs].[sp_GetMenuItems]
        @Keyword NVARCHAR(100) = NULL
    AS
    BEGIN
        SET NOCOUNT ON;
        SELECT I.ItemID, I.ItemCode, I.ItemName, I.UnitPrice, I.UnitName, I.IsAvailable, C.CategoryID, C.CategoryName
        FROM hs.MenuItems I
        JOIN hs.MenuCategories C ON C.CategoryID = I.CategoryID
        WHERE C.IsActive = 1 AND I.IsAvailable = 1
          AND (
                @Keyword IS NULL
                OR I.ItemName LIKE N'%' + @Keyword + N'%'
                OR I.ItemCode LIKE N'%' + @Keyword + N'%'
                OR C.CategoryName LIKE N'%' + @Keyword + N'%'
              )
        ORDER BY C.DisplayOrder, I.ItemName;
    END
GO
